.addmember{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.addfirst{
    display: inline-block;
    columns: 100px ;
    text-align: right;
}

.addname{
    font-family: Arial, Helvetica, sans-serif;
    
}

.adddob{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    columns: 100px 1;
    text-align: right;
}

.addsex{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    display: inline-block;
    text-align: right;
}

.headerlogo{
    width: 100%;
}

.fill{
    display: inline-block;
    columns: 40px 1;
}